html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-size:medium;
    font:bold;
   /* background-image:url("forum-450x225.jpg");*/
    background-color:aquamarine;   
    margin-bottom: 60px;
}